.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  color: black;
  display: flex;
  align-items: center;
  /* display: none; */
}

.modal__opened {
  display: flex;
}

.modal__container {
  position: relative;
  background: white;
  padding: 36px;
  margin: auto;
  border-radius: 10px;
}

.modal__close {
  width: 40px;
  height: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  position: absolute;
  background-image: url("../images/Close.svg");
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__heading {
  font-size: 24px;
  font-weight: 900;
}

.modal__form {
  margin-left: 36px;
  margin-right: 36px;
  border-radius: 10px;
  display: grid;
}

.modal__form-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border: 0;
  color: black;
  width: 358px;
  font-family: inter, arial, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal__form-description {
  width: 358px;
  color: black;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: inter, arial, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal__button-save {
  display: block;
  width: 358px;
  height: 50px;
  margin-top: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
